*{
    background-color: rgb(231, 231, 190);
}
#container{
    display: flex;
    width: 960px;
    height: 960px;
    background-color: gray;
    flex-grow: 1;
}


.row{
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    flex-grow: 3;
}
.row:hover {
    background-color: black;
}