*{
    background-color: rgb(231, 231, 190);
}
#container{
    display: flex;
    max-width: 960px;
    max-height: 960px;
    background-color: gray;
}

.column{
    display:flex;
    flex-direction: column;
    height: 960px;
    flex: 1;
    
}

.row{
    background-color: white;
    display: flex;
    flex-grow: 1;
}
.row:hover {
    background-color: black;
}